<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Menu -->

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <div class="container">
            <a class="navbar-brand">{{ title }}</a>
            <ul class="nav navbar-nav" routerLinkActive="active">
                <li class="nav-item"><a class="nav-link" routerLink="films">super Films</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="films">Séries</a></li>
            </ul>
        </div>
    </nav>
    
<menu-icons-example></menu-icons-example>
<app-movies></app-movies>
<app-messages></app-messages>
<!-- ap p- mo vi es></ap p-mo vies -->
