    <form>
      
      <mat-paginator [length]="length"
                    [pageSize]="nbElement"
                    [pageSizeOptions]="[8,16,24,48]"
                    (page)="pageEvent = $event; changeValueAndUpdate()"
                    (ngModelChange)="changeValueAndUpdate()">
      </mat-paginator>
      
    </form>

<div id="card-container">

      <div *ngFor="let movie of movies" id="movie-container">
      <mat-card class="movie-card">
        <mat-card-header >
          <div mat-card-avatar class="movie-header-image" [ngStyle]="{'background-image': 'url(' + movie.image + ')'}"></div>
          <mat-card-title >{{movie.titre}}</mat-card-title>
          <mat-card-subtitle >
          </mat-card-subtitle>
        </mat-card-header>
        <div id="img-container">
          <div id="movie-tags">
              <mat-chip-list>
                  <mat-chip *ngFor="let tag of movie.tags" color="primary" selected="true">{{tag}}</mat-chip>
                </mat-chip-list>
          </div>
          <img mat-card-image src="{{movie.image}}" alt="{{movie.title}}">
        </div>
        <mat-card-content>
          <p>
            {{ (movie.resume.length>200)? (movie.resume | slice:0:200)+'..':(movie.resume) }}
          </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>

    </div>

