    <form>
      
      <mat-form-field>
        <mat-select placeholder="Tri" [(value)]="Tri" [(ngModel)]="tri" name="tri" (ngModelChange)="changeTri();">
          <mat-option value="title">Titre</mat-option>
          <mat-option value="dateAdded">Date</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-paginator
                    [length]="length"
                    [pageSize]="nbElement"
                    [pageSizeOptions]="[8,16,24,48]"
                    (page)="pageEvent = $event; changeValueAndUpdate()"
                    (ngModelChange)="changeValueAndUpdate()">
      </mat-paginator>
      
    </form>

<div id="card-container">

      <div *ngFor="let movie of movies" id="movie-container">
      <mat-card class="movie-card">
        <mat-card-header >
          <div mat-card-avatar class="movie-header-image" [ngStyle]="{'background-image': 'url(' + movie.image + ')'}"></div>
          <mat-card-title >{{movie.titre}}</mat-card-title>
          <mat-card-subtitle >
          </mat-card-subtitle>
        </mat-card-header>
        <div id="img-container">
          <div id="movie-tags">
              <mat-chip-list>
                  <mat-chip *ngFor="let tag of movie.tags" color="primary" selected="true">{{tag}}</mat-chip>
                </mat-chip-list>
          </div>
          <a *ngIf="getMediaType() === 'tvshows'"  routerLink="/show/{{movie.id}}"><img mat-card-image src="{{movie.image}}" alt="{{movie.title}}"></a>
          <a *ngIf="getMediaType() === 'movies'" routerLink="/movie/{{movie.id}}"><img mat-card-image src="{{movie.image}}" alt="{{movie.title}}"></a>
        </div>
        <mat-card-content>
          <p>
            {{ (movie.resume.length>200)? (movie.resume | slice:0:200)+'..':(movie.resume) }}
          </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>

    </div>

